
.footer{
    background-color: black;
  
}
/* Đặt nền và căn lề cho footer */
.footer1 {
    position: relative;
    background-image: url('../img/nen\ footer.png'); /*Đặt ảnh nền */
    background-size: 100% 100%;
    padding: 20px;
    margin: 0 90px; /* Căn đều 2 bên với khoảng cách 116px */
    font-family: sans-serif;
    color: #000;
    
}

/* Kiểu chữ */
.footer1 h4 {
    color: red;
    margin-bottom: 10px;
}

.footer1>p {
    margin-bottom: 20px;
    color: #ddd;
    font-weight:600;
}
.footer2 {
    display: flex;
    justify-content: space-between;
    margin: 0 90px;
    /* background-color: black; */
    color: white;
    font-family: sans-serif ;
}

/* Cột */
.column {
    flex: 1;
    padding: 20px;
    
    /* background-color: #f0f0f0; */
    margin: 0 11px; /* Khoảng cách giữa các cột */
}
.column >li{
    list-style-type: none;
    line-height: 35px;
    
}
.column >li:hover{
    color: #FAB320;
}
/* Form email */

#userLogin > input[type="email"] {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #000;
    width: 100%;
    max-width: 300px;
}
    

/* styles.css */



.footer3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #222;
    color: #fff;
   
}

.contact>span {
    font-size: 16px;
}

.phone {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-top: 5px;
}

.phone>i {
    margin-right: 8px;
}

.logo img {
    height: 150px; /* Adjust the logo size as needed */
}

.social-icons>a {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
}

.social-icons>a:hover {
    color: #f0c040; /* Change color on hover */
}
